<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        table { border: 2px solid; border-collapse: collapse; }
        th { border: 2px solid; }
        td { border: 2px solid; }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <title>{{data.title}}</title>
</head>
<body>
    <div id="content">
{{data.content}}
    </div>{% if data.mermaid_flg %}
    <script src='https://unpkg.com/mermaid@9.4.3/dist/mermaid.min.js'></script>
    <script>
        let config = {
            startOnLoad: false,
            securityLevel: 'strict', // strict, loose
            theme: 'forest', // base, default, forest, dark, neutral
            flowchart: {
                useMaxWidth: true,
                htmlLabels: true,
                curve: 'straight' // cardinal, straight
            }
        };
        mermaid.initialize(config);
        mermaid.init(undefined, '.mermaid > code');
    </script>{% endif %}
</body>
</html>
