<!DOCTYPE html>

<html lang="ja">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<style type="text/css">
    table { border: 2px solid; border-collapse: collapse; }
    th { border: 2px solid; }
    td { border: 2px solid; }
</style>
<link href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" rel="stylesheet"/>
<link href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" rel="stylesheet"/>
<title>index</title>
</head>
<body>
<div id="content">
{{data.content}}
</div>{% if data.mermaid_flg %}
<script src="https://unpkg.com/mermaid@9.4.3/dist/mermaid.min.js"></script>
<script>
    let config = {
        startOnLoad: false,
        securityLevel: 'strict', // strict, loose
        theme: 'forest', // base, default, forest, dark, neutral
        flowchart: {
            useMaxWidth: true,
            htmlLabels: true,
            curve: 'straight' // cardinal, straight
        }
    };
    mermaid.initialize(config);
    mermaid.init(undefined, '.mermaid > code');
</script>{% endif %}
</body>
</html>